* {
    margin: 0;
}

*::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    /* background-color: hsl(0, 0%, 98%); */
}

input {
    border: none;
    background-color: transparent;
    color: darkgrey;
    
}

input:focus {
    outline: none;
}

img {
    width: 100%;
    display: block;
}

/*** light mode colors ****/

.bg-color-light{
    background-color: hsl(0, 0%, 98%); /**put on body **/
}
.input-light {
    background-color: #FFF;
}

.box-light {
    background-color: #FFF;
}

.todos-light {
    color: hsl(235, 19%, 35%);;
}
.num-items-light{
    background-color: #FFF;
    color: hsl(236, 9%, 61%);
}

.states-light {
    color: hsl(236, 9%, 61%);
    background-color: #FFF;
}
/*** dark-mode colors ***/
.bg-color-dark {
    background-color: hsl(235, 21%, 11%);
}

.input-dark {
    background-color: hsl(235, 24%, 19%);
}

.box-dark {
    background-color: hsl(235, 24%, 19%);
}

.todos-dark {
    
    color: hsl(236, 33%, 92%)
    
}

.num-items-dark {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 11%, 52%);
}

.states-dark{
    color: hsl(234, 11%, 52%);
    background-color: hsl(235, 24%, 19%);
}

/*******************************************/

.row {
    display: flex;
}

.border-rd {
    border-radius: 5px;
}

.over {
    background-color: rgb(112, 112, 112);
}



.main {
    position: relative;
}

.hero {
    height: 20vh;
    background-size: cover;
    background-position: center;
    
}



.todo-container {
    position: absolute;
    width: 100%;
    top: 20%;
    font-size: .8rem;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.heading {
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 6px;
    color: #FFF;
}

.input {
    padding-block: 1em;
    padding-inline: .8em;
    margin-bottom: 1em;
}
#task{
    padding-inline-start: .7em;
    
}

.box {
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.todo {
    padding-block: 1.3em;
    padding-inline: .8em;
    align-items: center;
    border-bottom: 1px solid grey;   

}

.todo > p {
    
    padding-inline-start: .7em;
    max-width: 85%;
    min-width: 85%;
}

.line-through {
    color: hsl(236, 60%, 92%);
    text-decoration: line-through;
}



.num-items {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: .75em;
    padding-inline: .8em;
    padding-block: 1.3em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.active {
    color: hsl(220, 98%, 61%);
}

.states {
    
    justify-content: center ;
    align-items: center;
    padding-block: 1.3em;
    font-weight: 700;
    
}

.states > * + * {
    padding-left: 1em;
}

.order-list {
    margin-top: 2em;
    text-align: center;
    color: hsl(236, 9%, 61%);
}

.dlt-btn {
    width: 12.5px;
    height: 12.5px;
}

@media (min-width: 880px ){
   .hero {
       height: 30vh;
   }

    .container {
        max-width: 50%;
    }

    .todo > p {
        min-width: 92%;
    }
    .todo:hover {
        cursor: pointer;

    }

    .dlt-btn {
        visibility: hidden;
    }
    .todo:hover .dlt-btn{
        visibility: visible;
    }
    .done-task-input {
        cursor: pointer;
    }


    

    .todos-footer {
        position: relative;
    }

    

    .states {
        background-color: transparent;
        position: relative;
        margin-inline: auto;
        width: 50%;
        top:-55.5px;
    }

    .clear-complete {
        cursor: pointer;
    }

    .states > p:hover{
        cursor: pointer;
        color: black;
    }



    .order-list {
        margin-top: 0;
    }
}
